/* CSS */
canvas{
    border: 3px rgba(189, 189, 189, 0.829) groove;
    /* width: 1000px; */
    /* height: 500px; */
}
input{
    width: 100%;
    height: 5em;
}
.centre{
    display: flex;
    justify-content: center;
}